html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url(../img/geometry2.png); /* Background pattern from Subtle Patterns */
    font-family: "Coda", cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

 .deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    list-style-type: none;
}

/* Card flipping animation taken from David Walsh Blog Create a CSS Flipping Animation tutorial (https://davidwalsh.name/css-flip)*/
.flipper-container {
    perspective: 1000px;
}

.card {
    font-size: 33px;
    color: white;
    position: relative;

    transform-style: preserve-3d;
    transition: 1s;
}

.front, .back {
    height: 125px;
    width: 125px;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    cursor: pointer;
}

.front {
    background: #2e3d49;
    position: absolute;
    transform: rotateY(0deg);
}

.back {
    background: #02b3e4;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.open {
    transform: rotateY(180deg);
}

.match {
    cursor: default;
    background: #02ccba;
}

.no-match {
    background-color: #ff3300;
}

/*
 * Styles for the Score Panel
 */

 .score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * Styles for the Modal
 */

.modal {
    align-items: center;
    background-color: white;
    display: none;
    font-size: 1.5em;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.button {
    background-color: #6f9;
    border: none;
    border-radius: 0.8em;
    color: white;
    font-size: 0.8em;
    padding: 0.5em;
}